form(method='POST', action='/new')
    h3 New Message Form
    label Message:
        input(type='text', name='message')
    label Author name: 
        input(type='text', name='author')
    input(type='submit', value='Submit')